<div class="parent">
    <div class="section-title">
        <div></div>
        <h1>Contact me</h1>
    </div>
    <div class="contact-flex">
        <div class="contact-container">
            <svg id="svg-email"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 -24.6 46.609325 58"
                    xml:space="preserve"
                    height="58"
                    width="46.609325">
    <path
            style="fill:#14487c"
            id="path880-9"
            d="m 46.575011,3.34125 c 0,-0.0533 0.0366,-0.1051 0.0342,-0.15775 l -14.2236,13.7052 14.20659,13.26739 c 0.008,-0.0948 -0.0173,-0.19035 -0.0173,-0.28714 z"/>
                <path
                        style="fill:#14487c;fill-opacity:1;stroke:none;stroke-width:0.20159;stroke-miterlimit:4;stroke-dasharray:none"
                        id="path882-2"
                        d="m 30.214421,18.99774 -5.80649,5.58657 c -0.29382,0.28269 -0.6733,0.42444 -1.053,0.42444 -0.37179,0 -0.74358,-0.13567 -1.03537,-0.40763 L 16.528871,19.2051 2.229525,32.98806 C 2.577217,33.113 2.950425,33.21 3.34125,33.21 h 40.027571 c 0.58036,0 1.12468,-0.17679 1.59793,-0.44043 z"/>
                <path
                        style="fill:#14487c;fill-opacity:1;stroke:none;stroke-width:0.20159;stroke-miterlimit:4;stroke-dasharray:none"
                        id="email-top"
                        d="M 23.338331,21.39858 45.045521,0.488227 C 44.554061,0.19602 43.981991,0 43.368821,0 H 3.34125 C 2.542792,0 1.81116,0.310028 1.241325,0.782865 Z"/>
                <path
                        style="fill:#14487c;fill-opacity:1;stroke:none;stroke-width:0.20159;stroke-miterlimit:4;stroke-dasharray:none"
                        id="path886-1"
                        d="m 0,3.85054 v 26.01801 c 0,0.29869 0.06864,0.58664 0.143167,0.86183 L 14.265111,17.1313 Z"/>
</svg>
            <h3 class="align-self-center mt-4">{{email}}</h3>
        </div>
        <div class="contact-container">
            <img id="phone-logo" class="mb-2" src="assets/images/phone.svg" alt="">
            <h3 class="align-self-center">{{phone}}</h3>
        </div>
        <div class="contact-container">
            <img id="linkedin-logo" class="mb-2" src="assets/images/linkedin.svg" alt="">
            <h3 class="align-self-center">
                <a target="_blank" href="{{linkedin}}">{{linkedin}}</a>
            </h3>
        </div>
    </div>
    <div class="city-container">
        <div class="car-container">
            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    id="car"
                    data-name="Layer 1"
                    width="30"
                    height="18"
                    viewBox="0 0 30 18"
                    version="1.1">
                <g
                        transform="scale(0.10603988)"
                        id="carBody">
                    <rect
                            style="opacity:1"
                            id="rect1003"
                            fill="#3f3d56"
                            transform="rotate(-0.59656812)"
                            height="5.5682998"
                            width="35.080269"
                            y="136.76361"
                            x="-0.24060695"/>
                    <path
                            style="opacity:1"
                            id="path1005"
                            fill="#ea3a3a"
                            d="m 289.89843,135.14459 -7.22101,1.74577 -275.0589533,2.86404 -2.53033,-5.73834 A 58.17112,58.17112 0 0 1 0.50098677,102.60564 C 1.6070167,94.63498 4.4974867,86.69731 11.205987,83.19581 L 22.609117,1.77552 174.78323,0 l 59.3457,46.90622 c 0,0 27.76802,-0.77364 43.0419,17.86135 4.83379,5.90253 8.41815,13.7503 9.46236,24.1917 l 0.69199,9.76571 z"/>
                    <polygon
                            transform="rotate(15.040522,1060.5933,-170.06446)"
                            style="opacity:1"
                            id="polygon1015"
                            fill="#ffffff"
                            points="189.624,284.302 180.769,252.665 247.797,233.903 294.724,254.884 "/>
                    <rect
                            style="opacity:1"
                            id="rect1017"
                            fill="#ffffff"
                            transform="rotate(-0.59656812)"
                            height="32.852951"
                            width="43.43272"
                            y="10.920043"
                            x="44.305779"/>
                    <rect
                            style="opacity:1"
                            id="rect1019"
                            fill="#3f3d56"
                            transform="rotate(-0.59656812)"
                            height="10.57976"
                            width="5.5682998"
                            y="68.273529"
                            x="101.10239"/>
                    <rect
                            style="opacity:1"
                            id="rect1021"
                            fill="#3f3d56"
                            transform="rotate(89.403432)"
                            height="10.57976"
                            width="5.5682998"
                            y="-198.54761"
                            x="53.239136"/>
                    <path
                            style="opacity:1"
                            id="path1023"
                            fill="#3f3d56"
                            d="m 192.19274,30.41425 0.61249,-0.006 a 11.63773,11.63773 0 0 1 11.75827,11.51591 v 0 a 11.63773,11.63773 0 0 1 -11.51593,11.75827 l -0.61249,0.006 z"/>
                    <path
                            style="opacity:1"
                            id="path1025"
                            fill="#3f3d56"
                            d="M 287.32522,98.72492 A 17.98812,17.98812 0 0 1 277.17083,64.76755 c 4.8338,5.90253 8.41816,13.7503 9.46236,24.1917 z"/>
                </g>
                <g
                        transform="scale(0.10603988)"
                        id="backWheel">
                    <circle
                            transform="rotate(15.040522)"
                            style="opacity:1"
                            id="circle1011"
                            fill="#3f3d56"
                            r="33.96661"
                            cy="115.40678"
                            cx="95.080048"/>
                    <circle
                            transform="rotate(15.040522)"
                            style="opacity:1"
                            id="circle1013"
                            fill="#d0cde1"
                            r="17.877159"
                            cy="115.40678"
                            cx="95.080048"/>
                    <path
                            transform-center-y="0.79651531"
                            transform-center-x="-1.0336172"
                            d="m 65.219397,154.76233 -4.664487,-15.90881 -15.370281,6.21306 13.68877,-9.35228 -10.658645,-12.69807 13.124611,10.12878 8.782877,-14.06089 -5.577314,15.61221 16.086761,4.00796 -16.571581,-0.4799 z"
                            randomized="0"
                            rounded="0"
                            flatsided="false"
                            arg2="2.0215187"
                            arg1="1.3932002"
                            r2="3.0293477"
                            r1="18.933422"
                            cy="136.12671"
                            cx="61.874543"
                            id="path1601"
                            style="opacity:1;fill:#e4ffff;stroke:#3d3c3c;stroke-width:1.00157"/>
                </g>
                <g
                        transform="scale(0.10603988)"
                        id="frontWheel">
                    <circle
                            transform="rotate(15.040522)"
                            style="opacity:1"
                            id="circle1007"
                            fill="#3f3d56"
                            r="33.96661"
                            cy="70.229782"
                            cx="256.48236"/>
                    <circle
                            transform="rotate(15.040522)"
                            style="opacity:1"
                            id="circle1009"
                            fill="#d0cde1"
                            r="17.877159"
                            cy="70.229782"
                            cx="256.48236"/>
                    <path
                            style="opacity:1;fill:#e4ffff;stroke:#3d3c3c;stroke-width:1.00157"
                            id="path1601-3"
                            sides="5"
                            cx="229.47115"
                            cy="134.38161"
                            r1="18.933422"
                            r2="3.0293477"
                            arg1="1.3932002"
                            arg2="2.0215187"
                            flatsided="false"
                            rounded="0"
                            randomized="0"
                            d="m 232.816,153.01723 -4.66449,-15.90881 -15.37028,6.21306 13.68877,-9.35229 -10.65864,-12.69806 13.12461,10.12878 8.78288,-14.06089 -5.57732,15.61221 16.08676,4.00796 -16.57158,-0.47991 z"
                            transform-center-x="-1.0336172"
                            transform-center-y="0.79651531"/>
                </g>
            </svg>

        </div>
    </div>
</div>
