<div class="parent">
    <div class="section-title">
        <div></div>
        <h1>Contact me</h1>
    </div>
    <div class="contact-flex">
        <div class="contact-container">
            <svg id="svg-email"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 -24.6 46.609325 58"
                    xml:space="preserve"
                    height="58"
                    width="46.609325">
    <path
            style="fill:#14487c"
            id="path880-9"
            d="m 46.575011,3.34125 c 0,-0.0533 0.0366,-0.1051 0.0342,-0.15775 l -14.2236,13.7052 14.20659,13.26739 c 0.008,-0.0948 -0.0173,-0.19035 -0.0173,-0.28714 z"/>
                <path
                        style="fill:#14487c;fill-opacity:1;stroke:none;stroke-width:0.20159;stroke-miterlimit:4;stroke-dasharray:none"
                        id="path882-2"
                        d="m 30.214421,18.99774 -5.80649,5.58657 c -0.29382,0.28269 -0.6733,0.42444 -1.053,0.42444 -0.37179,0 -0.74358,-0.13567 -1.03537,-0.40763 L 16.528871,19.2051 2.229525,32.98806 C 2.577217,33.113 2.950425,33.21 3.34125,33.21 h 40.027571 c 0.58036,0 1.12468,-0.17679 1.59793,-0.44043 z"/>
                <path
                        style="fill:#14487c;fill-opacity:1;stroke:none;stroke-width:0.20159;stroke-miterlimit:4;stroke-dasharray:none"
                        id="email-top"
                        d="M 23.338331,21.39858 45.045521,0.488227 C 44.554061,0.19602 43.981991,0 43.368821,0 H 3.34125 C 2.542792,0 1.81116,0.310028 1.241325,0.782865 Z"/>
                <path
                        style="fill:#14487c;fill-opacity:1;stroke:none;stroke-width:0.20159;stroke-miterlimit:4;stroke-dasharray:none"
                        id="path886-1"
                        d="m 0,3.85054 v 26.01801 c 0,0.29869 0.06864,0.58664 0.143167,0.86183 L 14.265111,17.1313 Z"/>
</svg>
            <h3 class="align-self-center mt-4">{{email}}</h3>
        </div>
        <div class="contact-container">
            <img id="phone-logo" class="mb-2" src="assets/images/phone.svg" alt="">
            <h3 class="align-self-center">{{phone}}</h3>
        </div>
        <div class="contact-container">
            <img id="linkedin-logo" class="mb-2" src="assets/images/linkedin.svg" alt="">
            <h3 class="align-self-center">
                <a target="_blank" href="{{linkedin}}">{{linkedin}}</a>
            </h3>
        </div>
    </div>
    <div class="w-100 overflow-hidden h-50">
        <img id="hot-air-balloon" src="assets/images/Hot-Air-Balloon-Silhouette.svg"  alt="" [style.user-select] =  '"none"'>
        <ng-container *ngFor="let i of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]">
            <img class="position-relative overflow-hidden" src="assets/images/cloud.svg" alt="" [style.top.%] = randomYNumber(i)
                 [style.left.%] = randomXNumber(i) [style.user-select] =  '"none"'>
        </ng-container>

    </div>
    <div class="city-container">
        <div class="car-container">
            <img src="assets/images/car.svg">

        </div>
    </div>
</div>
