<div class="parent">
  <div class="section-title">
    <div></div>
    <h1>About me</h1>
  </div>
  <div class="profile-attributes-box">
    <div class="attribute-box">
      <i class="fa fa-user"></i>
      <div class="att-data">
        <h3>Name</h3>
        <h4>{{profile.name}}</h4>
      </div>
    </div>
    <div class="attribute-box">
      <i class="fa fa-calendar"></i>
      <div class="att-data">
        <h3>Age</h3>
        <h4>{{age}} years old</h4>
      </div>
    </div>
  </div>
  <div class="profile-attributes-box">
    <div class="attribute-box">
      <i class="fa fa-map-marker"></i>
      <div class="att-data">
        <h3>Address</h3>
        <h4>{{profile.address}}</h4>
      </div>
    </div>
    <div class="attribute-box">
      <i class="fa fa-graduation-cap"></i>
      <div class="att-data">
        <h3>Graduation Year</h3>
        <h4>{{profile.graduationYear}}</h4>
      </div>
    </div>
  </div>
  <ng-container *ngFor="let para of profile.aboutParagraphs;index as index">
  <h3 class="paragraph">{{para}}</h3>
    <ng-container *ngIf="index+1 !== profile.aboutParagraphs.length">
      <br>
    </ng-container>
  </ng-container>
</div>
