<div class="parent">
  <img class="background-img2" src="assets/images/home-background.jpg" alt="../../../assets/images/home-background.jpg">
  <div class="background-color-filter"></div>
  <img class="logo" src="assets/images/logo.svg" alt="">
  <h1 class="home-message">Hi, I'm Sean. Software engineer with a love for everything code.</h1>
  <div class="learn-mode-container" (click)="nextSection()">
    <h4>Learn more about what I do</h4>
    <fa-icon [icon]="arrowDown" size="2x" class="arrow-down"></fa-icon>
  </div>
</div>

