<div class="parent">
  <div class="d-flex flex-row pt-5">
    <img class="logo" src="assets/images/profilePicture.jpg" alt="">
  </div>
  <h1 class="home-message">Hi, I'm Sean. Welcome to my Portfolio.</h1>
  <div class="align-self-center d-flex flex-row">
    <i class="fa fa-file mt-auto mb-auto mr-3" style="color: var(--primary-color)"></i>
    <a href="assets/sean-cunniffe-CV.pdf" target="_blank">Link to CV</a>
  </div>
  <div class="learn-more-container" (click)="nextSection()">
    <h4>Learn more about what I do</h4>
    <fa-icon [icon]="arrowDown" size="2x" class="arrow-down"></fa-icon>
  </div>
</div>

