<div id="loading-container" class="d-flex align-self-center justify-content-center m-auto">
    <div class="spinner-grow ml-1 mr-1 loading-bubble" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow ml-1 mr-1 loading-bubble" style="animation-delay: 0.2s" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow  ml-1 mr-1 loading-bubble" style="animation-delay: 0.4s" role="status">
      <span class="sr-only">Loading...</span>
    </div>

</div>
