<div id="loading-screen">
  <div class="w-100 d-flex">
  <div class="spinner-grow ml-auto mr-auto" role="status">
    <span class="sr-only">Loading...</span>
  </div>
    <div class="spinner-grow ml-auto mr-auto" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow ml-auto mr-auto" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <h3 style="text-align: center">LOADING</h3>
</div>
<div id="side-bar">
  <div class="w-75 profile-image-container mb-4">
    <img id="sideBarPicture" class="w-100" src="/assets/images/profilePicture.jpg" alt="">
  </div>
  <h5 id="home" class="font-weight-light w-100 align-self-end text-right pr-3 pt-1 pb-2 mb-0 selectable"
      (click)="scrollTo('home-content')">
    Home</h5>
  <h5 id="about" class="font-weight-light w-100 align-self-end text-right pr-3 pt-1 pb-2 mb-0 selectable"
      (click)="scrollTo('about-content')">
    About me</h5>
  <h5 id="projects" class="font-weight-light w-100 align-self-end text-right pr-3 pt-1 pb-2 mb-0 selectable"
      (click)="scrollTo('projects-content')">Projects</h5>
  <h5 id="contacts" class="font-weight-light w-100 align-self-end text-right pr-3 pt-1 pb-2 mb-0 selectable"
      (click)="scrollTo('contacts-content')">Contacts</h5>
  <!--  <div class="mt-auto">-->
  <!--    <fa-icon [icon]="angular" size="2x"></fa-icon>-->
  <!--  </div>-->
</div>
<div id="content">
  <app-home id="home-content"></app-home>
  <app-about id="about-content"></app-about>
  <app-projects id="projects-content"></app-projects>
  <app-contact id="contacts-content"></app-contact>
</div>


