:root {
  font-family: "Open Sans";
  --background-color: #ffffff;
  --primary-color: #6C63FF;
  scroll-snap-type: y proximity;
}

body {
  /*Remove padding and margin around body*/
  padding: 0;
  margin: 0;

}

#loading-screen{
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
#content{
  visibility: hidden;
}


body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #4D4D4D;
}

body::-webkit-scrollbar-thumb {
  background: white;
}

.section-title {
  position: relative;
  width: 100%;
  height: 10vh;
  padding-top: 1%;
  padding-bottom: 2%;
}

.section-title > h1 {
  font-size: 24px;
  position: relative;
  width: fit-content;
  background: white;
  margin: 0 auto 0 auto;
  padding: 5px;
  top: 50%;
  border: 2px solid var(--primary-color);
  transform: translateY(-50%);
}

.section-title > div {
  display: block;
  position: relative;
  top: 50%;
  border: 1px solid var(--primary-color);
  margin: 0 5% 0 5%;
  background: var(--primary-color);
}

#center {
  animation: pulse-color1 1s infinite linear;
}

#left-center, #right-center {
  animation: pulse-color2 1s infinite linear;
}

#left-outer, #right-outer, #top-outer {
  animation: pulse-color3 1s infinite linear;
}

@keyframes pulse-color1 {
  from {
    opacity: 0;
  }
  16.5%{
    opacity: 0.5;
  }
  33%{
    opacity: 0;
  }
}
@keyframes pulse-color2 {
  33% {
    opacity: 0;
  }
  49.5%{
    opacity: 0.5;
  }
  66%{
    opacity: 0;
  }

}
@keyframes pulse-color3 {
  66%{
    opacity: 0;
  }
  82.5%{
    opacity: 0.5;
  }
  to{
    opacity: 0;
  }
}

