:root {
  font-family: "Open Sans";
  --background-color: #f8f8ff;
  --primary-color: #14487C;
  --side-bar-color: #14487C;
  --content-height: 100vh;
  --top-bar-height: 75px;
  scroll-snap-type: y proximity;
}

body {
  /*Remove padding and margin around body*/
  padding: 0;
  margin: 0;

}

#loading-screen{
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
#content{
  visibility: hidden;
  width:90%;
  top:0;
  margin-left: auto;
  background: var(--background-color);
}

.selectable{
  cursor: pointer;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #4D4D4D;
}

body::-webkit-scrollbar-thumb {
  background: white;
}

.section-title {
  width: 100%;
  height: 10vh;
  padding-top: 1%;
  padding-bottom: 2%;
}

.section-title > h1 {
  font-size: 24px;
  position: relative;
  width: fit-content;
  background: var(--background-color);
  margin: 0 auto 0 auto;
  padding: 5px;
  top: 50%;
  border: 2px solid var(--primary-color);
  transform: translateY(-50%);
}

.section-title > div {
  display: block;
  position: relative;
  top: 50%;
  border: 1px solid var(--primary-color);
  margin: 0 5% 0 5%;
  background: var(--primary-color);
}

#side-bar{
  position: fixed;
  left:0;
  width:10%;
  height:100vh;
  background: var(--side-bar-color);
  display: flex;
  flex-direction: column;
  z-index: 2;
  visibility: hidden;
  overflow: hidden;
}

#side-bar > h5{
  color: white;
}

#side-bar > h5:hover{
  background: linear-gradient(90deg,var(--side-bar-color) 97%, grey 97%);
}
#top-bar{
  visibility: hidden;
  position: fixed;
  z-index: 3;
  height: 0;
  width: 100%;
  background: var(--side-bar-color);
  display: flex;
  flex-direction: row;
  overflow: hidden;
  border:none;
}

#top-bar > i{
  font-size: 30px;
}

.profile-image-container{
  width:75% !important;
  align-self: center;
  margin-top: 15px;
  overflow: hidden;
  border-radius: 100%;
}

@keyframes show-bar {
  from{transform: translateX(-100%)}
  to{transform: translateX(0)}
}
@keyframes hide-bar {
  from{transform: translateX(0)}
  to{transform: translateX(-100%)}
}


@media only screen and (max-width: 768px) {
  :root{
    scroll-snap-type: none;
  }
  #side-bar{
    transform: translateX(-100%);
    padding-top: var(--top-bar-height);
    width: 35%;
  }

  #sideBarPicture{
    height:0;
  }
  #content{
    width:100%;
    padding-top: var(--top-bar-height);
  }

  #top-bar{
    height: 75px;
    border-bottom: 1px solid white;
  }
}

